@{
    ViewData["Title"] = "Privacy Policy";
}
    <div class="container">


        <div class="row">
            <div class="col-md-12">
                <div id="ContentPlaceHolder1_ContentArea" class="post about">
                    <style type="text/css">

                        p.MsoNormal {
                            margin-top: 0mm;
                            margin-right: 0mm;
                            margin-bottom: 8.0pt;
                            margin-left: 0mm;
                            line-height: 107%;
                            font-size: 11.0pt;
                            font-family: "Calibri",sans-serif;
                        }

                        p.MsoListParagraphCxSpFirst {
                            margin-top: 0mm;
                            margin-right: 0mm;
                            margin-bottom: 0mm;
                            margin-left: 36.0pt;
                            margin-bottom: .0001pt;
                            line-height: 107%;
                            font-size: 11.0pt;
                            font-family: "Calibri",sans-serif;
                        }

                        p.MsoListParagraphCxSpMiddle {
                            margin-top: 0mm;
                            margin-right: 0mm;
                            margin-bottom: 0mm;
                            margin-left: 36.0pt;
                            margin-bottom: .0001pt;
                            line-height: 107%;
                            font-size: 11.0pt;
                            font-family: "Calibri",sans-serif;
                        }

                        p.MsoListParagraphCxSpLast {
                            margin-top: 0mm;
                            margin-right: 0mm;
                            margin-bottom: 8.0pt;
                            margin-left: 36.0pt;
                            line-height: 107%;
                            font-size: 11.0pt;
                            font-family: "Calibri",sans-serif;
                        }

                        p.3p8 {
                            margin-top: 0mm;
                            margin-right: 0mm;
                            margin-bottom: 12.0pt;
                            margin-left: 0mm;
                            font-size: 12.0pt;
                            font-family: "Times New Roman",serif;
                        }
                    </style>
                    <p align="center" class="MsoNormal" dir="RTL" style="margin-top:15.0pt;margin-right:
0mm;margin-bottom:7.5pt;margin-left:0mm;text-align:center;line-height:normal;
mso-outline-level:2;direction:rtl;unicode-bidi:embed">
                        <span lang="AR" style="font-size:22.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-ascii-font-family:
inherit;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:inherit;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR">سياسة الخصوصية</span><span dir="LTR" lang="EN-GB" style="font-size:22.5pt;font-family:&quot;inherit&quot;,serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Helvetica;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="margin-top:15.0pt;margin-right:0mm;
margin-bottom:7.5pt;margin-left:0mm;text-align:right;line-height:normal;
mso-outline-level:2;direction:rtl;unicode-bidi:embed">
                        <span lang="AR-SA" style="font-size:22.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-ascii-font-family:
inherit;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:inherit;
color:#333333;mso-fareast-language:EN-GB"><o:p>&nbsp;</o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="margin-top:15.0pt;margin-right:0mm;
margin-bottom:7.5pt;margin-left:0mm;text-align:right;line-height:normal;
mso-outline-level:3;direction:rtl;unicode-bidi:embed">
                        <span lang="AR" style="font-family:&quot;Helvetica&quot;,sans-serif;mso-ascii-font-family:inherit;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:inherit;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR">آخر تحديث في </span><span dir="LTR" lang="EN-GB" style="font-family:
&quot;inherit&quot;,serif;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
Helvetica;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR">02</span><span lang="AR" style="font-family:&quot;Helvetica&quot;,sans-serif;
mso-ascii-font-family:inherit;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:inherit;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"> ديسمبر 2017<o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="margin-top:15.0pt;margin-right:0mm;
margin-bottom:7.5pt;margin-left:0mm;text-align:right;line-height:normal;
mso-outline-level:3;direction:rtl;unicode-bidi:embed">
                        <span lang="AR" style="font-size:18.0pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-ascii-font-family:
inherit;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:inherit;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR">المقدمة</span><span dir="LTR" lang="EN-GB" style="font-size:18.0pt;font-family:&quot;inherit&quot;,serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Helvetica;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoListParagraphCxSpFirst" dir="RTL" style="mso-margin-top-alt:auto;
margin-right:18.0pt;mso-margin-bottom-alt:auto;margin-left:0mm;mso-add-space:
auto;text-align:right;text-indent:-18.0pt;line-height:normal;mso-list:l3 level1 lfo6;
direction:rtl;unicode-bidi:embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">سياسة الخصوصية في الموقع الإلكتروني </span><span dir="LTR" lang="EN-GB" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">QayimDactory.com</span><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR"> "الموقع" تقوم بشرح الطُرق التي نجمع و نحفظ ونستخدم ونحمي معلوماتك الشخصية سواء عن طريق الموقع أو عبر </span><span lang="AR" style="font-size:10.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-ascii-font-family:Calibri;mso-hansi-font-family:Calibri;color:#333333;
mso-bidi-language:AR">الشركات التي نعمل معها </span><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">، تلك المعلومات التي تقوم بتقديمها لنا عند التسجيل أوالبحث أو استخدام موقعنا على الانترنت و التي قد تمكننا من التعرف عليك. </span><span dir="LTR" lang="EN-GB" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoListParagraphCxSpMiddle" dir="RTL" style="mso-margin-top-alt:auto;
margin-right:18.0pt;mso-margin-bottom-alt:auto;margin-left:0mm;mso-add-space:
auto;text-align:right;text-indent:-18.0pt;line-height:normal;mso-list:l3 level1 lfo6;
direction:rtl;unicode-bidi:embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">قد نقوم بتعديل سياسة الخصوصية في أي وقت، مع أو بدون إشعار، عن طريق نشر النسخة المعدلة على الموقع. وبالتالي نحن نطلب منك مراجعة سياستنا بانتظام. </span><span dir="LTR" lang="EN-GB" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:
EN-GB;mso-bidi-language:AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoListParagraphCxSpLast" dir="RTL" style="mso-margin-top-alt:auto;
margin-right:18.0pt;mso-margin-bottom-alt:auto;margin-left:0mm;mso-add-space:
auto;text-align:right;text-indent:-18.0pt;line-height:normal;mso-list:l3 level1 lfo6;
direction:rtl;unicode-bidi:embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">تطبق سياسة الخصوصية في الموقع على جميع المستخدمين حسب تصنيفهم واللذين يمكنهم الوصول إلى خدمات الموقع في أي وقت.</span><span dir="LTR" lang="EN-GB" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;line-height:normal;direction:
rtl;unicode-bidi:embed">
                        <span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:
EN-GB;mso-bidi-language:AR"><o:p>&nbsp;</o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="margin-top:15.0pt;margin-right:0mm;
margin-bottom:7.5pt;margin-left:0mm;text-align:right;line-height:normal;
mso-outline-level:3;direction:rtl;unicode-bidi:embed">
                        <span lang="AR" style="font-size:18.0pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-ascii-font-family:
inherit;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:inherit;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR">جمع المعلومات الشخصية الخاصة بك</span><span dir="LTR" lang="EN-GB" style="font-size:18.0pt;
font-family:&quot;inherit&quot;,serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Helvetica;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;text-indent:-18.0pt;line-height:
normal;mso-list:l1 level1 lfo1;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">كجزء من خطوات التسجيل، سنطلب منك تقديم معلومات شخصية مُعينة بما في ذلك "على سبيل المثال لا الحصر" الاسم والعمر، والبريد الإلكتروني، رقم الهاتف، رقم الجوال و عنوان </span><span dir="LTR" lang="EN-GB" style="font-size:
10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR">IP</span><span lang="AR" style="font-size:10.5pt;
font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR"> الخاص بك بالإضافة إلى جمع المعلومات المقدمة من قبلك طواعية ومباشرةً للموقع أو معلومات عامة عنك. </span><span dir="LTR" lang="EN-GB" style="font-size:
10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;text-indent:-18.0pt;line-height:
normal;mso-list:l1 level1 lfo1;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">قد نقوم أيضا بطلب إثبات الهوية مثل نسخة من الهوية الوطنية أو جواز السفر أو بطاقة العمل أو شهادات الممارسة الصحية أو رخصة منشأة صحية سارية المفعول. <o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;text-indent:-18.0pt;line-height:
normal;mso-list:l1 level1 lfo1;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">يعتبر الموقع منصة لنشر ومشاركة المحتوى، سنقوم بجمع معلومات المعاملات على أساس الأنشطة الخاصة بك باستخدام الموقع. وتستخدم هذه المعلومات فقط فيما يتعلق بالعمليات التي يتم تنفيذها على الموقع وليس لأي أسباب أخرى. <o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;text-indent:-18.0pt;line-height:
normal;mso-list:l1 level1 lfo1;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">يرجى ملاحظة أننا قد نستخدم عنوان بروتوكول الإنترنت (</span><span dir="LTR" lang="EN-GB" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:
EN-GB;mso-bidi-language:AR">IP</span><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">) لتحسين إدارة الموقع. <o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;text-indent:-18.0pt;line-height:
normal;mso-list:l1 level1 lfo1;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">قد نقوم أيضاً بجمع معلومات تحليلية عن جهاز الكمبيوتر الخاص بك على سبيل المثال و ليس الحصر نوع المتصفح والصفحات التي تزورها على الموقع و أوقات الزيارات لتحسين تجربتك في كل مرة. </span><span dir="LTR" lang="EN-GB" style="font-size:10.5pt;
font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;line-height:normal;direction:
rtl;unicode-bidi:embed">
                        <span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:
EN-GB;mso-bidi-language:AR"><o:p>&nbsp;</o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="margin-top:15.0pt;margin-right:0mm;
margin-bottom:7.5pt;margin-left:0mm;text-align:right;line-height:normal;
mso-outline-level:3;direction:rtl;unicode-bidi:embed">
                        <span lang="AR" style="font-size:18.0pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-ascii-font-family:
inherit;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:inherit;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR">استخدامنا لمعلوماتك الشخصية</span><span dir="LTR" lang="EN-GB" style="font-size:18.0pt;
font-family:&quot;inherit&quot;,serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Helvetica;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;text-indent:-18.0pt;line-height:
normal;mso-list:l2 level1 lfo2;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">سيتم استخدام معلوماتك الشخصية لأغراض توفير الخدمات والدعم الفني أو لأغراض </span><span lang="AR" style="font-size:10.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-ascii-font-family:
Calibri;mso-hansi-font-family:Calibri;color:#333333;mso-bidi-language:AR">الإعلانات على الإنترنت أو وسائل التسويق الأخرى أو لتطوير و قياس كفاءة منتجات أو خصائص أو مزايا جديدة بالموقع أو لحل مشكلات أو خلل فني تابع للحساب</span><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">. أما هويتك و معلوماتك الشخصية فلن يتم الكشف عنها لزوار الموقع أو الأطباء أو المؤسسة الصحية. بإستثناء التقيّم و التعليقات التى تقوم بنشرها بمحض إرادتك وذلك بربطها بالإسم المستعار الذي تقوم بإختياره عند التسجيل معنا مما يمنع كشف هويتك ويحافظ على سريتها. </span><span dir="LTR" lang="EN-GB" style="font-size:10.5pt;
font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;text-indent:-18.0pt;line-height:
normal;mso-list:l2 level1 lfo2;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">سنقوم ببذل كل الجهد للحفاظ على سرية معلوماتك الشخصية. ولكن قد نحتاج إلى الكشف عنها عندما يكون هنالك دواعي قانونية لذلك عن طريق الجهات الحكومية المختصة. <o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;text-indent:-18.0pt;line-height:
normal;mso-list:l2 level1 lfo2;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">لن نقوم ببيع أو تأجير أياً من معلوماتك الشخصية إلى أطراف ثالثة في السياق الطبيعي لأغراض الموقع ولن نشارك معلوماتك الشخصية مع أطراف ثالثة الا وفقاً لسياسة الخصوصية الراهنة أو بعد تعديلها أو نشارك المعلومات بالقدر اللازم للتحقق من هوية صاحب الحساب في حال كان الحساب لممارس صحي أو مؤسسة صحية حسب الموضح في الشروط والأحكام للممارس الصحي أو المؤسسة الصحية. </span><span dir="LTR" lang="EN-GB" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;line-height:normal;direction:
rtl;unicode-bidi:embed">
                        <span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:
EN-GB;mso-bidi-language:AR"><o:p>&nbsp;</o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="margin-top:15.0pt;margin-right:0mm;
margin-bottom:7.5pt;margin-left:0mm;text-align:right;line-height:normal;
mso-outline-level:3;direction:rtl;unicode-bidi:embed">
                        <span lang="AR" style="font-size:18.0pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-ascii-font-family:
inherit;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:inherit;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR">الوصول لمعلوماتك الشخصية لمراجعتها أو تعديلها</span><span dir="LTR" lang="EN-GB" style="font-size:
18.0pt;font-family:&quot;inherit&quot;,serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Helvetica;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:right;text-indent:-18.0pt;line-height:
normal;mso-list:l6 level1 lfo3;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">يمكنك الوصول إلى معلوماتك الشخصية و مراجعتها من قسم حسابي على الموقع. </span><span dir="LTR" lang="EN-GB" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:
EN-GB;mso-bidi-language:AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:right;text-indent:-18.0pt;line-height:
normal;mso-list:l6 level1 lfo3;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">إذا تغيرت معلوماتك الشخصية بأي شكل من الأشكال أو كنت قد قدمتها بشكل غير صحيح على الموقع فيجب عليك تحديثها فوراً و تصحيحها عن طريق حسابي على الموقع أو من خلال الاتصال بنا. <o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;text-indent:-18.0pt;line-height:
normal;mso-list:l6 level1 lfo3;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">يرجى ملاحظة أننا قد نحتفظ بمعلوماتك الشخصية خلال وبعد انتهاء استخدامك للموقع كما هو مطلوب للامتثال للقانون أو لتلبية احتياجات استكشاف الأخطاء التقنية وإصلاحها أو لمنع الإحتيال أو للمساعدة في أي تحقيق قانوني ولإتخاذ اي اجراءات اخرى يسمح بها القانون. </span><span dir="LTR" lang="EN-GB" style="font-size:10.5pt;
font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt: auto; margin-right: 26.05pt; mso-margin-bottom-alt: auto; text-align: justify; text-indent: -18.0pt; line-height: normal; mso-list: l6 level1 lfo3; background: white; direction: rtl; unicode-bidi: embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">يجوز للموقع حفظ معلومات المستخدم وتقديمها استجابةً لطلب أو أمر قضائي</span><span dir="LTR" lang="AR" style="font-size:
10.5pt;font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR"> </span><span lang="AR-SA" style="font-size:10.5pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:
EN-GB"><span style="mso-spacerun:yes">&nbsp;</span>أي نشاط </span><span lang="AR" style="font-size:
10.5pt;font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR">غير قانوني؛ اضافة الى الحدد من مسؤولية الموقع لأغراض حماية مستخدمي الموقع.</span><span dir="LTR" lang="EN-GB" style="font-size:10.5pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:
EN-GB;mso-bidi-language:AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="margin-top:15.0pt;margin-right:0mm;
margin-bottom:7.5pt;margin-left:0mm;text-align:right;line-height:normal;
mso-outline-level:3;direction:rtl;unicode-bidi:embed">
                        <span lang="AR" style="font-size:18.0pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-ascii-font-family:
inherit;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:inherit;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR">روابط أخرى (أطراف ثالثة) على الموقع</span><span dir="LTR" lang="EN-GB" style="font-size:18.0pt;
font-family:&quot;inherit&quot;,serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Helvetica;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;text-indent:-18.0pt;line-height:
normal;mso-list:l5 level1 lfo4;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">قد يحتوي الموقع على روابط لمواقع أخرى. الرجاء الإنتباه و ملاحظة أننا غير مسؤولين عن سياسات الخصوصية لتلك المواقع.</span><span dir="LTR" lang="EN-GB" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;text-indent:-18.0pt;line-height:
normal;mso-list:l5 level1 lfo4;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">يلتزم المستخد/ين كلٌ بحسب تصنيفه في الموقع بسياسات الخصوصية و الشروط والأحكام الخاصة بشركاء الموقع وذلك فيما يتصل بخدمات الموقع المرتبط بأطراف خارجية</span><span dir="LTR" lang="EN-GB" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">.<o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="margin-bottom:0mm;margin-bottom:.0001pt;
text-align:right;line-height:normal;direction:rtl;unicode-bidi:embed">
                        <span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR"><o:p>&nbsp;</o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="margin-top:15.0pt;margin-right:0mm;
margin-bottom:7.5pt;margin-left:0mm;text-align:right;line-height:normal;
mso-outline-level:3;direction:rtl;unicode-bidi:embed">
                        <span lang="AR" style="font-size:18.0pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-ascii-font-family:
inherit;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:inherit;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR">السجلات "الكوكيز</span><span dir="LTR" lang="EN-GB" style="font-size:18.0pt;font-family:&quot;inherit&quot;,serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Helvetica;color:#333333;mso-fareast-language:
EN-GB;mso-bidi-language:AR">"<o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;text-indent:-18.0pt;line-height:
normal;mso-list:l4 level1 lfo5;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">مثل العديد من المواقع، يستخدم الموقع تقنية السجلات "الكوكيز". عندما تقوم بتصفح صفحة معينة على الموقع، تقوم السجلات بتحديد نوع المتصفح برقم محدد. </span><span dir="LTR" lang="EN-GB" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:
EN-GB;mso-bidi-language:AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;text-indent:-18.0pt;line-height:
normal;mso-list:l4 level1 lfo5;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">هذه السجلات التي نستخدمها لا تكشف عن أي معلومة شخصية خاصة بك. إنما تساعدنا على تحسين تجربتك للموقع فقط و تساعدنا على فهم أي أجزاء على الموقع هي الاكثر استخداماً. يمكنك دائماً رفض استخدام هذه السجلات على الرغم من أن ذلك قد يئثر على استخدامك للموقع بالطريقة المفترضة. <o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;margin-right:24.75pt;
mso-margin-bottom-alt:auto;text-align:justify;text-indent:-18.0pt;line-height:
normal;mso-list:l4 level1 lfo5;tab-stops:list 36.0pt;direction:rtl;unicode-bidi:
embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.0pt;
mso-bidi-font-size:10.5pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333;mso-fareast-language:EN-GB;
mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR">سنقوم بإستخدام السجلات لتحديد لغتك المفضلة. </span><span dir="LTR" lang="EN-GB" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR"><o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:
auto;text-align:justify;line-height:normal;direction:rtl;unicode-bidi:embed">
                        <span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR"><o:p>&nbsp;</o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="margin-top:15.0pt;margin-right:0mm;
margin-bottom:7.5pt;margin-left:0mm;text-align:right;line-height:normal;
mso-outline-level:3;direction:rtl;unicode-bidi:embed">
                        <span lang="AR" style="font-size:18.0pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-ascii-font-family:
inherit;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:inherit;
color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR">. تغيير وتعديل سياسة الخصوصية </span><span dir="LTR" lang="EN-GB" style="font-size:18.0pt;font-family:
&quot;inherit&quot;,serif;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
Helvetica;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:AR"><o:p></o:p></span>
                    </p>
                    <p class="3p8" dir="RTL" style="margin-right: 18.0pt; text-align: justify; text-indent: -18.0pt; mso-list: l0 level1 lfo7; background: white; direction: rtl; unicode-bidi: embed">
                        <!--[if !supportLists]--><span lang="EN-GB" style="font-size:10.5pt;
font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;
color:#555555;mso-bidi-language:AR"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="AR" style="font-size:10.5pt;color:#555555;mso-bidi-language:AR">يحق للموقع تعديل أو تحديث "سياسة الخصوصية" في أي وقت ودون الحاجة الى إشعار مسبق، لذا يرجى مراجعة سياسة الخصوصية بشكل دوري. يحق لنا تقديم نماذج إشعارات إضافية بوجود تعديلات أو تحديثات حسبما يكون مناسبًا للظروف. إن استخدامك للموقع أو خدماته بعد أي تعديلات تطرأ على "سياسة الخصوصية" أو أي سياسات آخرى تعتبر موافقة منك على هذه التعديلات أو الإضافات.<o:p></o:p></span>
                    </p>
                    <p class="MsoNormal" dir="RTL" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:
auto;text-align:justify;line-height:normal;direction:rtl;unicode-bidi:embed">
                        <span lang="AR" style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:EN-GB;mso-bidi-language:
AR"><o:p>&nbsp;</o:p></span>
                    </p>
                </div>
            </div>
        </div>
    </div>