<div class="form-group">
    <label>الموعد المناسب لك</label>
    <input type="date" class="form-control" />
</div>
<div class="form-group">
    <label>الفترة</label>
    <select class="form-control">
        <option>8-12 صباحا</option>
        <option>12-3 ظهرا</option>
        <option>3-6 عصرا</option>
        <option>6-9 مساءا</option>
    </select>
</div>
<div class="form-group">
    <button class="btn btn-outline-success">ارسل طلب الحجز</button>
    <button class="btn btn-link" onclick="$('.form-apnt').toggle();">إلغاء</button>
</div>

