<form>
    <div class="form-group">
        <label for="input_name">الاسم</label>
        <input type="text" class="form-control" id="input_name" placeholder="الاسم">
    </div>
    <div class="form-group">
        <label for="input_phone">رقم الجوال</label>
        <input type="number" class="form-control" id="input_phone" placeholder="رقم الجوال">
    </div>
    <div class="form-group">
        <label for="input_subject">الموضوع</label>
        <select class="form-control" id="input_subject">
            <option>استفسار عام</option>
            <option>حجز المواعيد</option>
            <option>شكاوي</option>
            <option>آخر</option>
        </select>
    </div>
    <div class="form-group">
        <label for="input_msg">نص الرسالة</label>
        <textarea class="form-control" id="input_msg" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">ارسل</button>

</form>