

<div class="col-sm-12 col-lg-6 text-center">
    <div style="background-color: white !important;">
        <img style="width:150px; height:150px;" data-src="https://qayimdactory.com/department/images/@Model.icon" class="lazy doctor-profile" alt="...">
    </div>
</div>
<div class="col-sm-12 col-lg-6 mt-3 text-center">
    <div class="mx-auto" style="max-width:400px;">
        <div style="min-height:110px; padding:12px;">
            <h1 class="text-center" style="font-size:18px;">@Model.department_name</h1>
        </div>

    </div>
</div>
