<hr/>
<div class="row text-right mt-3">
    <div class="col-12 col-md">
        <img class="mb-2" src="https://qayimdactory.com/fanartec/qayimdactory/images/logo.png" alt="قيم دكتوري" height="56">
        <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
    </div>
    <div class="col-6 col-md">
        <h5>روابط مهمة</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://sehatalk.com">كلام في الصحة</a></li>
            <li><a class="text-muted" href="https://www.moh.gov.sa/Pages/Default.aspx">وزارة الصحة</a></li>
            <li><a class="text-muted" href="http://www.scfhs.org.sa/Pages/default.aspx">الهيئة السعودية للتخصصات الطبية</a></li>
            <li><a class="text-muted" href="http://www.sfda.gov.sa/">الهئة العامة للغذاء والدواء</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>خدمات قيم دكتوري</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/ar/signup/institute/sa-jeddah">سجل منشأتك</a></li>
            <li><a class="text-muted" href="~/ar/signup/doctor/sa-all">سجل كطبيب</a></li>
            <li><a class="text-muted" href="/contactus">اتصل بنا</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>من نحن</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/about">الفريق</a></li>
            <li><a class="text-muted" href="/privacy">الخصوصية</a></li>
            <li><a class="text-muted" href="/terms">الشروط والأحكام</a></li>
            <li><a class="text-muted" href="/terms">اتصل بنا</a></li>
        </ul>
    </div>
</div>