@{
        <div class="col-6 mb-4">
            <div class="card">
                <img onclick="window.open('https://qayimdactory.com/offers/@Model.ImageUrl','_SELF')" style="width:100%"  data-src="https://qayimdactory.com/offers/@Model.ImageUrl" width="124" height="124" class="lazy card-img-top" alt="...">
                <div class="card-body" style="padding:0.25rem">
                    <h5 class="card-title text-center" style="font-size:14px; color:#0979C0; margin-top:15px;">@Model.Title</h5>
                </div>
            </div>
        </div>
}

