<ul class="list-unstyled">
    <li class="media">
        <img src="~/Content/icons/user.svg" width="24"  height="24" class="mr-3" alt="...">
        <div class="media-body text-left">
            <h5 class="mt-0 mb-1" style="cursor:pointer" onclick="go_to_profile()">الملف الشخصي</h5>
        </div>
    </li>
    <li class="media">
        <img src="~/Content/icons/power.svg" width="24"  height="24" class="mr-3" alt="...">
        <div class="media-body text-left">
            <h5 class="mt-0 mb-1" style="cursor: pointer" onclick="logout()">تسجيل الخروج</h5>
        </div>
    </li>
</ul>