<style>
    .f-icon {
        margin-bottom: 15px;
    }
    
</style>
<div class="text-center mx-auto" style="max-width:500px; margin-bottom:20px;">
    <h2>اضف وقيم طبيبك على قيم دكتوري</h2>
    <p>
        إن تقييمك يساعد في خدمة المجتمع, وممتنون لكم
        سيتمكن طببيبك لاحقا من متابعة التقييمات والتعليقات على موقعنا
        مما سيساهم في رفع جودة خدماته, او في تحسين وتطوير اسلوبه في التعامل مع المرضى.
    </p>
    <hr />
    <h6>لماذا اضافة طبيب على قيم دكتوري؟</h6>
    <h1>ـــ</h1>

    <div class="feature">
        <div class="f-icon">
            <img src="~/Content/icons/info.svg">
        </div>
        <h6>خدمة مجتمعية</h6>
        <p>
        ما تقوم به هو خدمة مجتمعية تهدف إلى زيادة وعي المجتمع بتقييم الأطباء
            وكذلك المساهمة في رفع المستوى الصحي بشكل عام

        </p>
    </div>



    <div class="feature">
        <div class="f-icon">
            <img src="~/Content/icons/gift.svg">
        </div>
        <h2 dir="rtl">مكافئة بالمقابل</h2>
        <p>
            ستحصل على مكافئة 100 ريال عن كل طبيب قمت باضافته وقام بتوثيق حسابه لاحقا
        </p>
    </div>

    <hr />
</div>
