<style>
    .f-icon {
        margin-bottom: 15px;
    }
    
</style>
<div class="text-center mx-auto" style="max-width:500px; margin-bottom:20px;">
    <h2>أنشيء صفحة لمنشأتك الصحية</h2>
    <p>
        موقع قيم دكتوري هو منصة للأطباء تتيح لهم متابعة مدى رضى
        زوارهم من المرضى وذلك عبر نظام تقييم يضمن تقييما عادلا للطبيب, وكذلك فإن كل تقييم موثق
        برقم جوال
        اختيارك الأمثل للوصول للباحثين عن الخدمات الطبية
    </p>
    <hr />
    <h6>ماذا تحصل من خدمات؟</h6>
    <h1>ـــ</h1>

    <div class="feature">
        <div class="f-icon">
            <img src="~/Content/icons/info.svg">
        </div>
        <h6>إدارة بياناتك</h6>
        <p>
            إدارة بيانات المنشاة الصحية, اضافة وحذف وتعديل بيانات الأطباء
            بشكل مباشر عبر لوحة تحكم
        </p>
    </div>


    <div class="feature">
        <div class="f-icon">
            <img src="~/Content/icons/gift.svg">

        </div>
        <h6>إدارة العروض</h6>
        <p>
            يمكنك اضافة عروض وتنبيه المهتمين من المرضى بالعروض التي تقدمها بين الوقت والآخر بشكل تلقائي عند
            إضافتها
        </p>
    </div>

    <div class="feature">
        <div class="f-icon">
            <img src="~/Content/icons/calendar.svg">

        </div>
        <h6>إستلام المواعيد</h6>
        <p>
            يمكنك استلام طلبات المواعيد بشكل مباشر بمعلومات المريض الكاملة, وتحديد بريد إلكتروني للموظف
            أو السكرتير ليتواصل مع المريض لتحديد موعد مناسب
        </p>
    </div>

    <div class="feature">
        <div class="f-icon">
            <img src="~/Content/icons/message-square.svg">
        </div>
        <h6>التواصل مع المريض</h6>
        <p>
            يمكنك استلام اسئلة أو استفسارات عامة أو خاصة من زوارك وتستطيع الإجابة عليها في أي وقت وبكل سهولة.

        </p>
    </div>

    <div class="feature">
        <div class="f-icon">
            <img src="~/Content/icons/message-square.svg">
        </div>
        <h2 dir="rtl">السعر؟</h2>
        <p>
            تواصل معنا لمزيد من المعلومات
        </p>
        <a href="~/contactus">اضغط هنا للتواصل</a>
    </div>
    <hr />
</div>
