<style>
    .f-icon {
        margin-bottom: 15px;
    }
    
</style>
<div class="text-center mx-auto" style="max-width:500px; margin-bottom:20px;">
    <h2>وثق حسابك كطبيب على قيم دكتوري</h2>
    <p>
        موقع قيم دكتوري هو منصة للأطباء تتيح لهم متابعة مدى رضى
        زوارهم من المرضى وذلك عبر نظام تقييم يضمن تقييما عادلا للطبيب, وكذلك فإن كل تقييم موثق
        برقم جوال
    </p>
    <hr />
    <h6>ماذا تحصل من خدمات؟</h6>
    <h1>ـــ</h1>

    <div class="feature">
        <div class="f-icon">
            <img src="~/Content/icons/info.svg">
        </div>
        <h6>إدارة بياناتك</h6>
        <p>
            يمكنك تعديل الصورة الشخصية, إضافة تخصص دقيق, تغيير تخصصك أو العيادة
            في حال انتقلت. تقيمك على مستوى التخصص أو المدينة
            تعديل رقم الحجز

        </p>
    </div>

    <div class="feature">
        <div class="f-icon">
            <img src="~/Content/icons/dollar-sign.svg">

        </div>
        <h6>التأمين و أسعار الخدمات</h6>
        <p>
            يمكنك وضع قائمة بالتأمين الصحي الذي تقبله, و كذلك قائمة بأسعار الخدمات
            التي تقدمها
        </p>
    </div>

    <div class="feature">
        <div class="f-icon">
            <img src="~/Content/icons/gift.svg">

        </div>
        <h6>إدارة العروض</h6>
        <p>
            يمكنك اضافة عروض وتنبيه المهتمين من المرضى بالعروض التي تقدمها بين الوقت والآخر بشكل تلقائي عند
            إضافتها
        </p>
    </div>

    <div class="feature">
        <div class="f-icon">
            <img src="~/Content/icons/video.svg">

        </div>
        <h6>رفع مقاطع فيديو تثقيفية</h6>
        <p>
            يمكنك رفع مقاطع فيديو عبر تصديرها من برنامج السناب شات, أو عبر رفعها بشكل مباشر.
            ويمكنك متابعة مدى اهتمام زوار صفحتك وتفاعلهم على هذه المقاطع
        </p>
    </div>


    <div class="feature">
        <div class="f-icon">
            <img src="~/Content/icons/calendar.svg">

        </div>
        <h6>إستلام المواعيد</h6>
        <p>
            يمكنك استلام طلبات المواعيد بشكل مباشر بمعلومات المريض الكاملة, وتحديد بريد إلكتروني للموظف
            أو السكرتير ليتواصل مع المريض لتحديد موعد مناسب
        </p>
    </div>

    <div class="feature">
        <div class="f-icon">
            <img src="~/Content/icons/message-square.svg">
        </div>
        <h6>التواصل مع المريض</h6>
        <p>
            يمكنك استلام اسئلة أو استفسارات عامة أو خاصة من زوارك وتستطيع الإجابة عليها في أي وقت وبكل سهولة.

        </p>
    </div>

    <div class="feature">
        <div class="f-icon">
            <img src="~/Content/icons/message-square.svg">
        </div>
        <h2 dir="rtl">199 ريال \ سنويا</h2>
        <p>
            السعر لا يشمل الخدمات الإضافية بحيث يمكنك اضافة الخدمة الإضافية المناسبة لك في أي وقت
            عبر لوحة التحكم.
        </p>
    </div>

    <hr />
</div>
